root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 2

# []
# indent_size = 4
# tab_width = 4

[*.csv]
max_line_length = 2147483647

[{*.ant,*.fxml,*.jhm,*.jnlp,*.jrxml,*.qrc,*.rng,*.tld,*.wsdl,*.xml,*.xsd,*.xsl,*.xslt,*.xul}]
indent_size = 4
tab_width = 4

[{*.har,*.json}]
tab_width = 4

[{*.htm,*.html,*.sht,*.shtm,*.shtml}]
indent_size = 4
tab_width = 4

[{*.markdown,*.md}]
indent_size = 4
tab_width = 4

[{*.mk,GNUmakefile,Makefile}]
tab_width = 4

[{*.py,*.pyw,resources}]
indent_size = 4
tab_width = 4
insert_final_newline = true


[{*.toml,Cargo.lock,Cargo.toml.orig,Gopkg.lock,Pipfile}]
indent_size = 4
tab_width = 4
